proxy_cache_path /var/cache/nginx levels=1:2 keys_zone=myzone:10m loader_threshold=300 loader_files=200;

upstream backend {
  least_conn;
  server example.com;
  server example2.com;
  server example3.com;
  server example4.com backup;
}

server {
  listen 80;
  proxy_cache myzone;
  proxy_cache_valid 5m;

  location /api/products {
    proxy_pass http://backend;
  }

  location /loaderio-longtokenkeyhere {
    return 200 'loaderio-longtokenkeyhere';
    add_header Content-Type text/plain;
  }
}
